body{
  font-family: sans-serif;
 color: #FAFAFA;
 overflow-x: hidden;
}
.header{
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: #610101;
  font-weight: bold;
  font-size: larger;
}

.privacy-policy-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-left: 150px;
  padding-right: 150px;
  color: #5A5A5A;
  padding-top: 20px;
  padding-bottom: 30px;
}
h2{
  color: black;
  font-weight: 545;
  text-align: left;
}
p{
  color: #5A5A5A;
}
mark{
  background-color: #e45b5b;
  color: white;
}

.terms-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-left: 150px;
  padding-right: 150px;
  color: #5A5A5A;
  padding-top: 20px;
  padding-bottom: 30px;
}